.site-header{
  @apply
  fixed
  left-0
  right-0
  z-20
  top-0;
}

.link {
  @apply text-secondary
 font-semibold
 pb-1
 relative
 before:absolute
 before:transition-all
 before:duration-300
 before:left-0
 before:right-0
 before:bottom-0
 before:w-0
 before:h-0.5
 before:bg-primary
 before:rounded-full
 hover:before:w-9/12
 hover:text-primary
 active:before:w-9/12
 [&.active]:before:w-9/12
 [&.active]:text-primary
 focus:before:w-9/12;
}

.sticky .header{
 @apply
 bg-black/30
 shadow
 backdrop-blur-[100px]
 transition-all
 duration-500
}

.hambBurger{
@apply
flex flex-col
cursor-pointer
lg:hidden
}

.hambBurger span{
@apply
w-8
h-0.75
bg-primary
rounded-xl
last:w-6
first:w-5
transition-all
duration-300
block
not-last:mb-1
}

.nav{
 @apply
hidden
 lg:block
 transition-all
 duration-300
}

.mobile-menu{
 @apply
 border-t-2 border-primary/10
 h-lvh
 w-full
 bg-white
 absolute
left-0
right-0
top-0
pt-5
translate-y-full
transition-all
duration-300;
}

.active .mobile-menu{
@apply
translate-y-0
z-10
text-white
}

/* .active .nav ul{
 @apply
 justify-center
 flex-col
 items-center
} */

.active .hambBurger span{
 @apply
 block
 w-8
 even:hidden
 first:rotate-45
 last:-rotate-45
 first:translate-px
 not-last:mb-0
}

body.active{
 @apply
 overflow-hidden;
}
