.testimonial .swiper-pagination-bullets {
  @apply sm:pt-5 static z-10;
}

.hero .swiper-pagination-bullets {
  @apply
  md:hidden!;
}
.swiper-pagination .swiper-pagination-bullet{
  @apply
  bg-primary  
  transition-all
  duration-500
}

.swiper-pagination .swiper-pagination-bullet-active{
  @apply
  bg-primary  
  w-8
  rounded-xl;
}

.hero .swiper-button-prev,
.hero .swiper-button-next{
  @apply
  max-md:hidden
  transition-all
  duration-300
  absolute 
  top-1/2 
  -translate-y-1/2 
  bg-primary
  hover:bg-white
  focus:bg-white
  active:bg-white
  hover:before:text-primary
  border
  border-primary
  rounded-full
  [&_svg]:hidden
  before:text-white
  before:absolute
  before:transition-all
  before:duration-300
  before:font-icomoon
  before:content-['\ea3c'];
}

.hero .swiper-button-prev{
  @apply
  before:font-icomoon
  before:content-['\ea40'];
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}