@import "tailwindcss";
@import "../assets/css/base.css";
@import "../assets/css/header.css";
@import "../assets/css/slider.css";
@import "../assets/css/typography.css";
@import "../assets/css/button.css";
@import "../assets/css/form.css";
@import "../assets/lib/icomoon/style.css";
@import "../assets/css/accordion.css";
@import "../assets/css/additional.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-lato: var(--font-lato);
  --font-raleway: var(--font-raleway);
  --color-primary: #fc6511;
  --color-secondary: #1151b4;
  --color-cyan: #22c1c3;
  --color-gold: #c8a888;
  --color-star-gold: #EFBF04;
  --color-blue: #3b82f6;
  --color-dark-blue: #121d36;
  --color-light-blue: #1a347e;
  --color-beige: #f3e8dc;
  --color-maroon: #FF5656;
  --color-yellow: #FEEE91;
  --color-dark: #333333;
  --color-red: #FF0000;
  --font-icomoon: "icomoon";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}
